*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  box-sizing: border-box;
}

body {
  font-family: $Montserrat;
  font-style: normal;
  font-weight: 400;
  color: $black;
  margin: 0;
}

img,
picture {
  max-width: 100%;
  height: auto;
  object-fit: contain;
}

p,
h1,
h2,
h3,
h4 {
  margin: 0;
}
