// Fonts

$Montserrat: "Montserrat", "Arial", sans-serif;
$FuturaPT: "FuturaPT-Book", "Arial", sans-serif;
$FuturaDemic: "FuturaDemic", "Arial", sans-serif;

// Colors

$white: #ffffff;
$black: #000000;
$grey: #b5b5b5;
$soft-grey: #edecec;
$lite-grey: #f6f6f6;
$turquoise: #29d3d1;
$tomato: #eb645a;
$light-tomato: #ed6b62;

// Viewports

$mobile-width: 320px;
$tablet-width: 767px;
$desktop-width: 1290px;
