.partners__container {
  margin-top: 79px;

  position: relative;

  @media (min-width: $desktop-width) {
    margin-top: 68px;
  }
}

.partners__title {
  font-size: 32px;
  font-weight: 700;
  text-transform: uppercase;
  text-align: center;
  color: $tomato;
}

.partners__list {
  list-style-type: none;
  margin: 60px 0 41px;
  padding: 48px 0 45px;

  display: flex;
  justify-content: center;
  align-items: center;
  gap: 44px;

  background-color: $tomato;

  @media (min-width: $desktop-width) {
    margin: 28px 0 61px;
    padding: 49px 0 44px;
  }
}

.partners__item--mobile {
  @media (max-width: 1289px) {
    display: none;
  }
}

.partners__link {
  transition: 0.3s ease-in-out;
  opacity: 0.3;

  &:hover,
  &:focus {
    opacity: 1;
  }
}

.partners__text {
  font-family: $FuturaPT;
  font-size: 24px;
  line-height: 125%;
  text-align: center;
  padding-bottom: 10px;

  @media (min-width: $desktop-width) {
    padding: 0;
  }
}

.partners__button {
  font-family: $FuturaDemic;
  font-size: 18px;
  font-weight: 600;
  line-height: 111%;
  color: $white;
  text-transform: uppercase;
  text-align: center;
  text-decoration: none;
  margin: 29px auto 40px;
  padding: 20px;

  display: block;
  width: 100%;
  max-width: 354px;
  background-color: $turquoise;
  border-radius: 10px;
  transition: 0.3s ease-in-out;

  @media (min-width: $desktop-width) {
    max-width: 336px;
    margin-bottom: 60px;
  }

  &:hover,
  &:focus {
    opacity: 0.7;
  }

  &:active {
    opacity: 0.5;
  }
}
