.promo {
  background-image:
    image-set(
      url("../../images/bg_promo_mobile@2x.webp") type("image/webp") 2x,
      url("../../images/bg_promo_mobile@1x.webp") type("image/webp") 1x,
      url("../../images/bg_promo_mobile@2x.jpg") 2x,
      url("../../images/bg_promo_mobile@1x.jpg") 1x
    );
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

  @media (min-width: $desktop-width) {
    background-image:
      image-set(
        url("../../images/bg_promo@2x.webp") type("image/webp") 2x,
        url("../../images/bg_promo@1x.webp") type("image/webp") 1x,
        url("../../images/bg_promo@2x.jpg") 2x,
        url("../../images/bg_promo@1x.jpg") 1x
      );
  }
}

.promo__container {
  @media (min-width: 1290px) and (max-width: 1599px) {
    padding: 0 105px;
  }
}

.promo__wrapper {
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  max-width: 354px;

  @media (min-width: $desktop-width) {
    left: 21%;
    transform: translateX(38%);
  }
}

.promo__text {
  font-size: 16px;
  letter-spacing: -0.05em;
  text-transform: uppercase;
  text-align: right;
  color: $white;
  padding: 202px 0 11px;

  position: relative;
  z-index: 0;

  @media (min-width: $desktop-width) {
    text-align: left;
    padding: 286px 0 22px;
  }

  &::before {
    content: "";
    display: block;
    width: 240px;
    height: 55px;

    background-image: url("../../images/icons/stack.svg#only_popup");
    background-size: 240px 55px;
    background-repeat: no-repeat;

    position: absolute;
    top: 190px;
    right: -18px;
    z-index: -1;

    @media (min-width: $desktop-width) {
      width: 244px;
      height: 54px;

      background-size: 244px 54px;

      top: 275px;
      right: 130px;
    }
  }
}

.promo__logo {
  width: 100%;
  max-width: 351px;

  @media (min-width: $desktop-width) {
    max-width: 480px;
  }
}

.promo__link {
  display: block;
  width: 100%;
  max-width: 351px;
  margin: 0 auto;
  transition: 0.3s ease-in-out;

  @media (min-width: $desktop-width) {
    max-width: 480px;
    margin: 0 115px;
  }

  &:hover,
  &:focus {
    opacity: 0.7;
  }

  &:active {
    opacity: 0.5;
  }
}

.promo__download {
  font-size: 16px;
  text-transform: lowercase;
  text-align: center;
  color: $white;
  padding-top: 5px;

  position: relative;

  @media (min-width: $desktop-width) {
    text-align: left;
    padding: 9px 0 0;
    margin: 0 307px;
  }

  &::before {
    content: "";
    width: 41%;
		height: 1px;

		background-color: $white;

		position: absolute;
		top: 15px;
		right: -18px;

    @media (min-width: $desktop-width) {
      width: 183px;
      top: 19px;
      right: 0;
      left: -193px;
    }
  }

	&::after {
    content: "";
    width: 41%;
		height: 1px;

		background-color: $white;

		position: absolute;
		top: 15px;
		left: -18px;

    @media (min-width: $desktop-width) {
      width: 183px;
      top: 19px;
      left: 93px;
    }
  }
}

.promo__button {
  font-size: 15px;
  font-weight: 600;
  letter-spacing: -0.05em;
  text-transform: uppercase;
  color: $white;

  width: 277px;
  height: 51px;
  border: none;
  border-radius: 15px;
  background-color: $turquoise;
  box-shadow: 1px 4px 24px 0 rgba(0, 0, 0, 0.35);
  cursor: pointer;
  scale: 1;
  transition: 0.3s ease-in-out;

  position: relative;
  bottom: -26px;
  margin: 0 auto;

  display: flex;
  justify-content: center;
  align-items: center;
  gap: 23px;

  &:hover,
  &:focus {
    scale: 1.02;
  }
}
